h1 {
	color: #960018;
	font-family: "Funnel Sans", sans-serif;
text-align: center;
font-size: 40px;

}

h2{ 
	
	font-family: "Funnel Sans", sans-serif;
text-align: center;
font-size: 20px;


}

h3{
	
	font-family: "Funnel Sans", sans-serif;
text-align: center;
font-size: 20px;

}

h4{
	
	font-family: "Funnel Sans", sans-serif;
text-align: center;
font-size: 20px;

}


p {
	font-family: "Funnel Sans", sans-serif;
	font-size: 20px;

}

body {
  
  background-repeat: no-repeat;
  background-position: center;
}

.center {
  display: block;
  margin: 80px auto;          
  padding: 40px;
  border: 10px solid darkred;   
  border-radius: 4px;         
  background: white;           
  
}




}









